/*=== GLOBAL ===*/
:root {
    --Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: var(--Light-Grayish-Blue);

    display: flex;
    align-items: center;
    justify-content: center;
}

/*=== CARD ===*/
.card {
    width: 700px;
    height: 280px;
    background: #fff;
    border-radius: 8px;

    display: flex;

    position: relative;
}

.img img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.content {
    color: var(--Dark-Grayish-Blue);
    padding: 32px;
}

.content h3 {
    font-size: 1.2rem;
}

.content p {
    font-size: 0.8rem;
    margin-top: 0.6rem;
}

/*=== BOTTOM AREA ===*/
.bottom-area {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
}

.autor-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.autor-info img {
    width: 3rem;
    border-radius: 1.5rem;
}

.name-date {
    margin-left: 1rem;
}

.name-date .name {
    font-weight: bold;
    margin-top: 0;
}

.name-date .date {
    opacity: 0.8;
    margin-top: -0.02rem;
}

/*=== SHARE BUTTON ===*/
.share-area {
    width: 2rem;
    height: 2rem;

    background: var(--Light-Grayish-Blue);

    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.share-area.active {
    background: var(--Dark-Grayish-Blue);
    color: #fff;
}

.social-media {
    background: var(--Dark-Grayish-Blue);
    padding: 12px 28px;
    border-radius: 8px;

    display: flex;
    margin-top: -120px;
    margin-left: -116px;
    position: absolute;

    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
}

.social-media .icon {
    margin: 8px;
}

p.share-text {
    letter-spacing: 4px;
    font-weight: bold;
    color: var(--Grayish-Blue);
    margin-right: 16px;
}

.social-media.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .card {
        width: 320px;
        height: 480px;

        flex-direction: column;
    }

    .img img {
        width: 320px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .content h3 {
        font-size: 1rem;
    }

    .social-media {
        border-radius: 0 0 8px 8px;
        width: 100%;

        padding: 16px 28px;

        bottom: 0;

        margin-left: -256px;
    }

    .share-area {
        position: relative;
        z-index: 99;
    }

    .share-area.active {
        background: var(--Desaturated-Dark-Blue);
    }
}
